.cultural_significance_container {
  border-color: var(--text-primary-inverted);
  padding: 4rem 1.6rem;
  background-color: var(--text-primary-inverted);
}

.cultural_significance_content {
  display: grid;
  grid-template-columns: 1.36fr 1fr;
  gap: 0.3rem;
}

.cultural_significance_image_wrapper img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.cultural_significance_image_wrapper {
  padding-right: 1rem;
}

@media screen and (max-width: 576px) {
  .cultural_significance_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cultural_significance_container {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
